.action#action
	.action__snowflake.action__snowflake--1
	.action__snowflake.action__snowflake--2
	.container
		.action__item.action__item--1
			.action__item__screen
				.action__item__screen__image
			.action__item__text
				.action__item__text__title
					| Акция!
				.action__item__text__description
					| С 1 января по 1 декабря скачивайте приложение PlayingNow, прослушивайте любимую музыку,
					| и не забудьте оценить приложение!
		.action__item.action__item--2
			.action__item__text
				.action__item__text__title
					| Акция!
				.action__item__text__description
					| Поделитесь скриншотом вашей любимой песни на PlayingNow в нашей группе Вконтакте. Первые 150 человек
					| получат скидку 30% на путевку!
			.action__item__screen
				.action__item__screen__image
