.action
	.action__snowflake.action__snowflake--1
	.action__snowflake.action__snowflake--2
	.container
		.action__item.action__item--1
			.action__item__screen
				.action__item__screen__image
			.action__item__text
				.action__item__text__title
					| Lorem ipsum dolor
				.action__item__text__description
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Suspendisse vel leo efficitur, venenatis est ut, tincidunt
					| nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.
		.action__item.action__item--2
			.action__item__text
				.action__item__text__title
					| Lorem ipsum dolor
				.action__item__text__description
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					| Suspendisse vel leo efficitur, venenatis est ut, tincidunt
					| nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.
			.action__item__screen
				.action__item__screen__image
