.advantages
	.container
		.block-subtitle
			| Crios - лучшее времяпровождение для зимних каникул в Красноярске
		.block-title
			| У нас вы сможете:
		.advantages__list
			.advantages__list
				.advantages__list__item
					.sprite-blue-icon1
					.advantages__list__item__title
						| Посетить живописные места
					.advantages__list__item__text
						| На территории базы имеется очаровательный лес, сказочные зимние пейзажи и множество исторических мест
				.advantages__list__item
					.sprite-blue-icon2
					.advantages__list__item__title
						| Испытать на себе зимние забавы
					.advantages__list__item__text
						| Катание на лыжах, сноутбордах, санках, а также собачьих упряжках и санях с лошадьми
				.advantages__list__item
					.sprite-blue-icon3
					.advantages__list__item__title
						| Завести новые знакомства
					.advantages__list__item__text
						| Здесь ежегодно отдыхает около 7000 человек разных возврастов, и постоянно проводятся развлекательные мероприятия
				.advantages__list__item
					.sprite-blue-icon4
					.advantages__list__item__title
						| Незабываемо встретить Новый год
					.advantages__list__item__text
						| Наша база прекрасно подходит для отдыха всей семьей
		.button-wrapper
			a.button(href="#")
				| Оформить путевку
