header.header
	.container
		button.header__hamburger(type="button")
		.header__menu
			a.header__menu__item(href="")
				| Возможности
			a.header__menu__item(href="")
				| Акция
			a.header__menu__item(href="")
				| Прайслист
		.header__label
			.header__label__title
				| Crios
			.header__label__subtitle
				| Зимний курорт
		form.header__form(action="" method="post")
			button.header__search(type="button")
			input.header__input(type="text" placeholder="Поиск")
