.photos
	.photos__item
		.photos__item__photo
			img(src="images/photo1.jpg" alt="")
		.photos__item__text
			.text-wrapper
				.photos__item__text__title
					| База располагается на территори леса
				.photos__item__text__description
					| Свежий воздух вдали от города благоприятно влияет на здоровье. Ухоженный лес, раскрывающий
					| всю красоту Красноярского края, отлично подойдет
					| для увлекательных зимних прогулок.
	.photos__item
		.photos__item__text
			.text-wrapper
				.photos__item__text__title
					| Коттеджи хорошо отапливаются
				.photos__item__text__description
					| Каждый домик оснащен современной отапливаемой системой. В наличие уютные просторнные номера, которые
					| позволят вам чувствовать себя, как дома.
		.photos__item__photo
			img(src="images/photo2.jpg" alt="")
