.photos
	.photos__item
		.photos__item__photo
			img(src="images/photo1.jpg" alt="")
		.photos__item__text
			.text-wrapper
				.photos__item__text__title
					| Lorem ipsum dolor
				.photos__item__text__description
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur,
					| venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.
	.photos__item
		.photos__item__text
			.text-wrapper
				.photos__item__text__title
					| Lorem ipsum dolor
				.photos__item__text__description
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur,
					| venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.
		.photos__item__photo
			img(src="images/photo2.jpg" alt="")
