.price#price
	.container
		.block-subtitle
			| Бронируйте, оформляйте и оплачивайте путевки прямо на сайте
		.block-title
			| Следите за акциями!
		.button-wrapper
			a.button(href="#")
				| Прайслист
