.quote
	.container
		.col-1
			.quote__snowflake
		.col-2
			.quote__text
				.quote__text__title
					| Template is awesome
				.quote__text__description
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel leo efficitur,
					| venenatis est ut, tincidunt nibh. Suspendisse lobortis lectus vel imperdiet ullamcorper.
				.quote__text__author
					.quote__text__author__name
						| John Doe
					.quote__text__author__status
						| CEO at Crios.com
