.quote
	.container
		.col-1
			.quote__snowflake
		.col-2
			.quote__text
				.quote__text__title
					| Все на новый сезон!
				.quote__text__description
					| Наш персонал с радостью будет видеть вас на нашей базе зимнего отдыха. Здесь каждому найдется занятие
					| - все, что нужно для чудесного отдыха всей семьей.
				.quote__text__author
					.quote__text__author__name
						| Василий Кузнецов
					.quote__text__author__status
						| Управляющий базы отдыха Crios
