.action {
	position: relative;
	overflow: hidden;
	padding-top: 162px;
	height: 1802px;

	&__snowflake {
		position: absolute;
		z-index: -1;
		width: 674px;
		height: 674px;
		background-size: cover;

		&--1 {
			left: 40px;
			top: -87px;
			background: url("../images/snowflake1.png") center no-repeat;

			@media (max-width: 1000px) {
				width: 600px;
				height: 600px;
				background-size: cover;
			}

			@media (max-width: 700px) {
				width: 300px;
				height: 300px;
				background-size: cover;
			}
		}

		&--2 {
			right: 0;
			bottom: -190px;
			height: 790px;
			background: url("../images/snowflake2.png") center no-repeat;

			@media (max-width: 1000px) {
				width: 504px;
				height: 504px;
				background-size: cover;
			}

			@media (max-width: 550px) {
				width: 404px;
				height: 404px;
				background-size: cover;
			}
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		padding-bottom: 119px;
		height: 797px;

		&__screen {
			position: relative;
			flex-grow: 1;
			width: 50%;

			&__image {
				position: absolute;
				right: 156px;
				top: 0;
				width: 449px;
				height: 677px;
				background: url("../images/screen1.png") center no-repeat;
				background-size: contain;

				@media (max-width: 1205px) {
					right: 20px;
				}

				@media (max-width: 900px) {
					right: 0;
					width: 410px;
				}

				@media (max-width: 800px) {
					position: static;
					margin: 0 auto;
					width: 479px;
				}

				@media (max-width: 510px) {
					width: 300px;
					height: 464px;
				}
			}

			@media (max-width: 800px) {
				width: auto;
			}
		}

		&__text {
			flex-grow: 1;
			padding-top: 222px;
			padding-left: 15px;
			width: 50%;

			&__title {
				margin-bottom: 30px;
				width: 520px;
				font-weight: 600;
				font-size: 48px;
				color: $color-dodger-blue;

				@media (max-width: 1205px) {
					width: 100%;
				}
			}

			&__description {
				width: 520px;
				font-size: 16px;
				line-height: 36px;
				color: rgba($color-river-bed, 0.35);

				@media (max-width: 1205px) {
					width: 100%;
				}
			}

			@media (max-width: 1205px) {
				padding-left: 0;
			}

			@media (max-width: 800px) {
				padding-top: 0;
				padding-left: 0;
				width: auto;
				text-align: center;
			}
		}

		&--2 {
			padding-bottom: 0;
			height: 646px;

			.action__item__screen__image {
				left: 149px;
				background: url("../images/screen2.png") center no-repeat;
				background-size: contain;

				@media (max-width: 800px) {
					order: 1;
				}
			}

			.action__item__text {
				padding-top: 234px;
				padding-left: 182px;

				@media (max-width: 800px) {
					order: 2;
					padding-top: 0;
					padding-left: 0;
				}
			}
		}

		@media (max-width: 800px) {
			flex-direction: column;
			padding-bottom: 50px;
			height: auto;
		}
	}

	@media (max-width: 800px) {
		padding-top: 50px;
		height: auto;
	}
}
