.button-wrapper {
	text-align: center;
}

.button {
	display: inline-block;
	border-radius: 30px;
	padding: 17px 45px;
	box-shadow: 0 0 40px rgba($color-black, 0.1);
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: $color-dodger-blue;
	background: $color-white;
	transition: background 0.1s ease;

	&:hover {
		background: darken($color-white, 1.5%);
	}
}
