.header {
	.container {
		height: 207px;
	}

	&__hamburger {
		position: absolute;
		left: 15px;
		top: 57px;
		outline: none;
		border: none;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		box-shadow: 3px 3px 19px rgba($color-black, 0.1);
		background: $color-white;
		transition: background 0.1s ease;

		&::before {
			@include sprite("hamburger");

			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			background: darken($color-white, 1%);
		}
	}

	&__menu {
		position: absolute;
		left: 110px;
		top: 58px;
		display: none;
		border: solid 1px $color-river-bed;
		padding: 9px 15px;
		width: 170px;
		background: $color-white;

		&__item {
			display: block;
			margin: 15px 0;
			padding: 5px 0;
			text-decoration: none;
			color: $color-river-bed;
		}
	}

	&__label {
		position: absolute;
		left: 50%;
		top: -207px;
		margin-left: -207px;
		border-radius: 50%;
		width: 414px;
		height: 414px;
		box-shadow: 0 0 65px rgba($color-black, 0.075);

		&__title {
			position: absolute;
			left: 50%;
			bottom: 104px;
			font-weight: bold;
			font-size: 48px;
			text-transform: uppercase;
			color: $color-dodger-blue;
			transform: translateX(-50%);
		}

		&__subtitle {
			position: absolute;
			left: 50%;
			bottom: 85px;
			font-weight: bold;
			font-size: 18px;
			text-align: center;
			text-transform: uppercase;
			color: rgba($color-river-bed, 0.15);
			transform: translateX(-50%);
		}
	}

	&__form {
		position: absolute;
		right: 15px;
		top: 57px;
	}

	&__search {
		outline: none;
		border: none;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		box-shadow: 3px 3px 19px rgba($color-black, 0.1);
		background: $color-white;
		transition: background 0.1s ease;

		&::before {
			@include sprite("search");

			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			background: darken($color-white, 1%);
		}
	}

	&__input {
		position: absolute;
		right: 88px;
		top: 19px;
		display: none;
		outline: none;
		border: solid 1px $color-river-bed;
		padding: 0 4px;
		width: 180px;
		box-shadow: 3px 3px 19px rgba($color-black, 0.1);
	}
}
