.main-banner {
	margin-top: 162px;
	height: 1097px;
	background: url("../images/main-banner.jpg") center no-repeat;
	background-size: cover;

	.button-wrapper {
		margin-top: 63px;
	}

	@media (max-width: 880px) {
		margin-top: 100px;
		height: 885px;
	}

	@media (max-width: 550px) {
		margin-top: 90px;
		height: 695px;
	}
}
