.quote {
	background: $color-whisper;

	.container {
		display: flex;

		@media (max-width: 860px) {
			flex-direction: column;
		}
	}

	.col-1 {
		flex-grow: 1;
	}

	.col-2 {
		flex-grow: 1;
		padding-bottom: 40px;
	}

	&__snowflake {
		z-index: -1;
		width: 674px;
		height: 623px;
		background: url("../images/snowflake3.png") center no-repeat;
		background-size: cover;

		@media (max-width: 1240px) {
			width: 584px;
			background: url("../images/snowflake3.png") bottom no-repeat;
			background-size: contain;
		}

		@media (max-width: 1000px) {
			width: 484px;
			height: 566px;
		}

		@media (max-width: 860px) {
			margin: 0 auto;
			height: 445px;
		}

		@media (max-width: 530px) {
			width: 100%;
		}

		@media (max-width: 480px) {
			height: 386px;
		}

		@media (max-width: 380px) {
			height: 320px;
		}
	}

	&__text {
		margin-top: 201px;
		padding-left: 5px;
		width: 540px;

		&__title {
			font-weight: 500;
			font-size: 48px;
			color: $color-radical-red;

			@media (max-width: 480px) {
				font-size: 32px;
			}
		}

		&__description {
			margin-top: 31px;
			font-size: 16px;
			line-height: 36px;
			color: rgba($color-river-bed, 0.35);
		}

		&__author {
			margin-top: 68px;

			&__name {
				margin-bottom: 6px;
				font-weight: 500;
			}

			&__status {
				color: rgba($color-river-bed, 0.35);
			}

			@media (max-width: 860px) {
				margin-top: 30px;
			}
		}

		@media (max-width: 1240px) {
			margin-top: 108px;
			padding-left: 0;
			width: 100%;
		}

		@media (max-width: 1000px) {
			margin-top: 43px;
		}

		@media (max-width: 860px) {
			text-align: center;
		}
	}
}
