// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-dodger-blue: #43a9ff;
$color-river-bed: #4b5863;
$color-whisper: #f7f8fb;

// FONTS

$font-family-montserrat: "Montserrat", sans-serif;
